numpy>=1.26.0
# Use CPU-only version of PyTorch to save space
torch>=2.0.1+cpu --extra-index-url https://download.pytorch.org/whl/cpu
python-dotenv>=1.0.0
fastapi>=0.103.1
uvicorn>=0.23.2
pydantic>=2.3.0
python-multipart>=0.0.6
gunicorn>=20.1.0
jinja2>=3.0.0
# Minimal version of aiortc for simulated networking
aiortc>=1.5.0
